{% load static %}
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <title>ICE-D: {{ app_name|upper }} -- {{ name_string }}</title>
        {% block prepend_additional_scripts %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/textfit/2.4.0/textFit.min.js" integrity="sha512-vLs5rAqfvmv/IpN7JustROkGAvjK/L+vgVDFe7KpdtLztqF8mZDfleK2MZj/xuOrWjma0pW+lPCMcBbPKJVC7g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
        <script src='https://unpkg.com/leaflet.gridlayer.googlemutant@latest/dist/Leaflet.GoogleMutant.js'></script>
        <script src="{% static 'scripts/main.js' %}"></script>
        <script src="{% static 'scripts/leaflet_plugins.js' %}"></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.0.3.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        {% block append_additional_scripts %}{% endblock %}

        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        {% block additional_styles %}{% endblock %}
        {{ header_info }}
        <style>
            a:link {
                color: {{ link_color }};
            }
            a:visited {
                color: {{ visited_color }};
            }
            .page-title {
                color: {{ visited_color }};
            }
        </style>
        <script type="text/javascript">
            // This is used to provide application context to JS on the page for various things
            window.iced = {
                app_name: "{{ app_name|lower }}",
                v3Str: "{{ v3_str }}"
            }
        </script>
    </head>
    <body>
        <div class="page-container">
            <div id="header" class="row mt-1">
                <a class="col col-no-grow" href="{% if home_url %}{{ home_url }}{% else %}{{ "/" }}{% endif %}">
                    <img src="{% static header_img_path %}">
                </a>
                <h1 class="page-title col col-no-grow">ICE-D</h1>
                <div class="page-sub-title col col-no-grow">informal
                    <br>cosmogenic-nuclide
                    <br>exposure-age
                    <br>database
                </div>
                <div id="app-title" class="page-application-title col col-grow">
                    {{ app_name|upper }}
                </div>
            </div>

            {% if page_alert %}
                <div class="page-alert">
                    {{ page_alert|safe }}
                </div>
            {% endif %}
            {% if content_header %}
                <h2 class="content-header">{{ content_header|safe }}</h2>
            {% endif %}
            <h2 class="page-header">{{ page_title|safe }}</h2>
            {% block content %}
            {% endblock %}
            <div id="footer" class="page-footer">
                <div class="page-footer-section">
                    <p>
                        <a href="https://gchron.copernicus.org/articles/2/169/2020/" target=blank>A paper</a> describing what the ICE-D project is supposed to be about.
                    </p>
                </div>
                <div class="page-footer-section">
                    <p>
                        The ICE-D project now has a <a href="https://wiki.ice-d.org/" target=blank>partially complete documentation wiki.</a>
                    </p>
                </div>
                <div class="page-footer-section">
                    <p>
                        Questions about this page: <a href="mailto:balcs@bgc.org">Greg Balco</a>
                    </p>
                    <p>
                        {% if footer_credits %}
                            {{ footer_credits|safe }}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>

