{% extends 'base.html' %}
{% block content %}
<div>
    <h3 class="content-header">Publication</h3>
    <p>
        {{ publication.parsed_bibtex.author }}
    </p>
    <p>
        <strong>{{ publication.parsed_bibtex.title }}</strong>
    </p>
    <p>
        <em>{{ publication.parsed_bibtex.journal }}</em>, {{ publication.parsed_bibtex.year }}
    </p>
    <p>
        {% if publication.doi is not None %}
        DOI: <a href="https://dx.doi.org/{{ publication.doi }}">{{ publication.doi }}</a>
        {% else %}
        (no DOI)
        {% endif %}
    </p>
</div>

<div>
    <h3 class="content-header">Bibtex Record</h3>
    <p class=bibtex_body>
        {{ publication.bibtex_record|linebreaksbr }}
    </p>
</div>
{% if not no_cores %}
    <div>
        <h3 class="content-header">Cores/subsurface data associated with this publication</h3>
        {% for core in cores %}
            <p><a href="../../core/{{ core.name }}">{{ core.name }}</a> ( {{ core.description }} )</a></p>
        {% endfor %}
    </div>
{% endif %}
    {% if not no_samples %}
<div>
    <h3 class="content-header">Samples in this publication</h3>
    {% include 'nuclide_table_template.html' %}
</div>
<div>
    <div>
        <h3 class="content-header">Online exposure calculator v3 input</h3>
        {%  if calibration_data_sets %}
            <p>This can be entered in the <a href=http://hess.ess.washington.edu/math/v3/v3_cal_in.html> version 3 production rate calibration input page. </a> </p>
        {%  else %}
            <p>This can be entered in the <a href=http://hess.ess.washington.edu/math/v3/v3_age_in.html> version 3 exposure age calculator</a> to compute exposure ages.</p>
        {% endif %}
        <!-- begin v3 --><pre>{{ v3_str }}</pre><!-- end v3 -->
    </div>
    {% if cl36_str %}
    <div>
        <h3 class="content-header">Online exposure age calculator Cl-36 input (experimental)</h3>
        <p>This can be entered in the <a href="http://stoneage.ice-d.org/math/Cl36/v3/v3_Cl36_age_in.html"> prototype v3
                Cl-36 exposure age calculator</a> to compute exposure ages.</p>
        <pre>{{ cl36_str }}</pre>
    </div>
    {% endif %}
{% endif %}
</div>
{% endblock %}